<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Cooking Recipes</title>
    <%- include('../components/imports.ejs') %>
</head>

<body>
    <%- include('../components/header.ejs') %>

        <div class="container">
            <div class="fs-2 fw-semibold mb-4">Admin Panel</div>
        </div>

        <div class="container mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Client Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% allClients.forEach(function(us) { %>
                        <tr>
                            <td>
                                <%= us.clientname %>
                            </td>
                            <td>
                                <%= us.phone_number %>
                            </td>
                    
                            <td>
                                
                            </td>
                            <td>
                                <% if (us.admin) { %>
                                    <span class="badge bg-success">Admin</span>
                                    <% } %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>

        <script>
            function deleteUser(userId) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `/admin/users/delete/${userId}`;
                    }
                })
            }
        </script>


        <%- include('../components/footer.ejs') %>

</body>

</html>