<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Cooking Recipes</title>
    <%- include('../components/imports.ejs') %>
</head>

<body>
    <%- include('../components/header.ejs') %>

        <div class="container">
            <div class="fs-2 fw-semibold mb-4">Админ панель</div>
        </div>

        <div class="container mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="order" >Имя</th>
                        <th scope="col">Номер телефона</th>
                        <th scope="col" class="order">Размер бутика</th>
                        <th scope="col" class="order">Дата заявки</th>
                        <th scope="col" >Связались</th>
                    </tr>
                </thead>
                <tbody>
                    <% allClients.forEach(function(us) { %>
                        <tr>
                            <td>
                                <%= us.clientname %>
                            </td>

                            <td>
                                <%= us.phone_number %>
                            </td>

                            <td>
                                <%= us.box_size %>
                            </td>

                            <td>
                                <%= moment(us.created_at).format('Do MMMM, YYYY') %>
                            </td>

                            <td>
                                <input class="admin-checkbox" type="checkbox" name="privacy">
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </div>

        <%- include('../scripts/sort_table.ejs') %>
</body>

</html>