<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salem Sklad - Аренда помещений</title>
    <%- include('components/imports.ejs') %>
</head>

<body>

    <!-- Header -->
    <%- include('components/header.ejs') %>
        <!-- Navigation -->
        <nav id="navbar" class="navbar">
            <div class="menu container-fluid d-flex justify-content-center">
                <ul class="row align-items-center">
                    <div class="about col">
                        <li class="fs-5"><a href="#about">О Salem Sklad</a></li>
                    </div>
                    <div class="col">
                        <li class="fs-5"><a href="#how-it-works">Как это работает?</a></li>
                    </div>
                    <div class="col">
                        <li class="fs-5"><a href="#photo">Фотографии</a></li>
                    </div>
                    <div class="col">
                        <li class="fs-5"><a href="#contacts">Контакты</a></li>
                    </div>
                </ul>
            </div>
        </nav>

        <!-- Main Content -->
        <main>
            <section id="prices" class="info1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col">
                                    <div class="container">
                                        <div class="row">
                                            <div class="info1-text text-left">
                                                <h1>Складские
                                                    помещения</h1>
                                                <p class="fs-5">«Salem Sklad» открывает новые возможности для клиентов в
                                                    поиске идеального места для хранения и управления своими товарами.
                                                    Мы предлагаем современные и надежные склады, оснащенные передовыми
                                                    технологиями для обеспечения безопасности и сохранности ваших
                                                    товаров.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>

            <section class="container info2 py-5">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="circle-2">
                            <i class="fa-solid fa-house-lock text-white fs-1"></i>
                        </div>
                        <h1>Безопасность товаров</h1>
                        <p class="fs-5">Склад оборудован
                            системой безопасности,
                            что обеспечивает защиту
                            хранимых товаров от
                            кражи, порчи и других
                            негативных воздействий.</p>
                    </div>
                    <div class="col-lg-4">
                        <div class="circle-2">
                            <i class="fa-solid fa-box-archive text-white fs-1"></i>
                        </div>
                        <h1>Чистые и новые склады</h1>
                        <p class="fs-5">Благодаря различным
                            размерам новых складских
                            помещений, вы можете
                            выбирать наиболее
                            подходящий вариант в
                            зависимости от своих
                            потребностей.</p>
                    </div>
                    <div class="col-lg-4">
                        <div class="circle-2">
                            <i class="fa-solid fa-fan text-white fs-1"></i>
                        </div>
                        <h1>Регулярная дезинфекция</h1>
                        <p class="fs-5">Чистые склады
                            помогают сохранить
                            ценность товаров на
                            протяжении всего
                            цикла их хранения.</p>
                    </div>
                </div>
            </section>
            <section id="about" class="main container-fluid py-5">
                <div class="container about_info text-white">
                    <h2 class="text-center">О нас</h2>
                    <p class="fs-5"><a class="font-weight-bold text-white fs-3">«Salem Sklad»</a> — это молодая
                        и
                        быстрорастущая компания в сфере складских услуг
                        индивидуального хранения. Коллектив компании имеет большой опыт работы в коммерческой
                        недвижимости.</p>
                    <p class="fs-5">Наконец-то настало время, когда у каждого есть возможность быстрым, удобным
                        и
                        недорогим способом
                        оставить на хранение любые вещи на любой срок в теплом, уютном, безопасном, специально
                        оборудованном месте.</p>
                    <p class="fs-3 font-weight-bold">Мы позаботимся о том:</p>
                    <li class="fs-5"><span class="fs-5 bi bi-dash text-white"></span> чтобы вы смогли разместить
                        столько вещей, сколько необходимо;</li>
                    <li class="fs-5"><span class="fs-5 bi bi-dash text-white"></span> чтобы все ваши вещи на
                        протяжении всего периода хранения оставались в целости и сохранности;</li>
                    <li class="fs-5"><span class="fs-5 bi bi-dash text-white"></span> чтобы вы в любой момент
                        дня и
                        ночи имели доступ к своим вещам.</li>
                </div>
            </section>

            <section id="photo" class="py-5 bg-light">
                <div class="container">
                    <h2 class="text-center">Фото складских помещений</h2>
                    <div class="container">
                        <div class="row justify-content-center">
                            <img src="/images/1.jpg" alt="pictures" style="width: 200px; padding: 10px;">
                            <img src="/images/2.jpg" alt="pictures" style="width: 200px; padding: 10px;">
                            <img src="/images/3.jpg" alt="pictures" style="width: 200px; padding: 10px;">
                            <img src="/images/9.jpg" alt="pictures" style="width: 200px; padding: 10px;">
                        </div>
                        <div class="row justify-content-center">
                            <img src="/images/4.jpg" alt="pictures" style="width: 200px; padding: 10px;">
                            <img src="/images/5.jpg" alt="pictures" style="width: 200px; padding: 10px;">
                            <img src="/images/6.jpg" alt="pictures" style="width: 200px; padding: 10px;">
                            <img src="/images/8.jpg" alt="pictures" style="width: 200px; padding: 10px;">
                        </div>
                    </div>
                </div>
            </section>

            <section id="how-it-works" class="how-it-works container-fluid justify-content-center">
                <div class="container py-5">
                    <h2 class="text-center">Как это работает?</h2>
                    <div class="container py-3">
                        <div class="col">
                            <div class="row">
                                <p class="fs-3"><i class="bi bi-caret-right-fill text-success"></i> Позвоните по
                                    указанному номеру или оставьте свой номер телефона</p>
                            </div>
                            <div class="row">
                                <p class="fs-3"><i class="bi bi-caret-right-fill text-success"></i> Мы подберем вам
                                    помещение</p>
                            </div>
                            <div class="row">
                                <p class="fs-3"><i class="bi bi-caret-right-fill text-success"></i> Привезите свои вещи
                                </p>
                            </div>
                            <div class="row">
                                <p class="fs-3"><i class="bi bi-caret-right-fill text-success"></i> Мы выдадим вам
                                    помещение</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>

            <section class="what-save container-fluid py-5">
                <div class="container">
                    <h2 class="text-center">Что хранят в Salem Sklad</h2>
                    <div class="container py-3">
                        <div class="row py-3">
                            <div class="col">
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 align-items-center">
                                        <img src="/images/обогреватель.jpg" alt="" width="150px" height="150px">
                                    </div>
                                </div>
                                <p class="what-save-des row justify-content-center">сезонное хранение</p>
                            </div>
                            <div class="col">
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 align-items-center">
                                        <img src="/images/коробки.jpg" alt="" width="150px" height="150px">
                                    </div>
                                </div>
                                <p class="what-save-des row justify-content-center">личные вещи</p>
                            </div>
                            <div class="col">
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 align-items-center">
                                        <img src="/images/диван.jpg" alt="" width="150px" height="150px">
                                    </div>
                                </div>
                                <p class="what-save-des row justify-content-center">мебель</p>
                            </div>
                            <div class="col">
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 align-items-center">
                                        <img src="/images/стройка.jpg" alt="" width="150px" height="150px">
                                    </div>
                                </div>
                                <p class="what-save-des row justify-content-center">стройматериалы</p>
                            </div>
                        </div>
                        <div class="row py-3">
                            <div class="col">
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 align-items-center">
                                        <img src="/images/велосипед.jpg" alt="" width="150px" height="150px">
                                    </div>
                                </div>
                                <p class="what-save-des row justify-content-center">велосипеды</p>
                            </div>
                            <div class="col">
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 align-items-center">
                                        <img src="/images/шины.jpg" alt="" width="150px" height="150px">
                                    </div>
                                </div>
                                <p class="what-save-des row justify-content-center">шины</p>
                            </div>
                            <div class="col">
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 align-items-center">
                                        <img src="/images/колеса.jpg" alt="" width="150px" height="150px">
                                    </div>
                                </div>
                                <p class="what-save-des row justify-content-center">колеса</p>
                            </div>
                            <div class="col">
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 align-items-center">
                                        <img src="/images/мотоцикл.png" alt="" width="150px" height="150px">
                                    </div>
                                </div>
                                <p class="what-save-des row justify-content-center">мотоцикл</p>
                            </div>
                        </div>
                        <div class="row py-3">
                            <div class="col">
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 align-items-center">
                                        <img src="/images/спорт.png" alt="" width="150px" height="150px">
                                    </div>
                                </div>
                                <p class="what-save-des row justify-content-center">спортивный инвентарь</p>
                            </div>
                            <div class="col">
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 align-items-center">
                                        <img src="/images/коляска.png" alt="" width="150px" height="150px">
                                    </div>
                                </div>
                                <p class="what-save-des row justify-content-center">детские коляски</p>
                            </div>
                            <div class="col">
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 align-items-center">
                                        <img src="/images/папки.jpeg" alt="" width="150px" height="150px">
                                    </div>
                                </div>
                                <p class="what-save-des row justify-content-center">архивные документы</p>
                            </div>
                            <div class="col">
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 align-items-center">
                                        <img src="/images/цемент.png" alt="" width="150px" height="150px">
                                    </div>
                                </div>
                                <p class="what-save-des row justify-content-center">теплое хранение</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="arenda-box" class="arenda-box container-fluid py-5">
                <div class="container">
                    <h2 class="text-center text-white">Арендовать бутик</h2>
                    <div class="row justify-content-center">
                        <form method="POST" action="/#arenda-box">
                            <% if (success) { %>
                                <span class="badge text-bg-success mb-3 fs-5">Заявка успешно оформлена. Свяжемся с вами
                                    как можно скорее!</span>
                                <% } else if (error) { %>
                                    <span class="badge text-bg-danger mb-3 fs-5">
                                        <%= error %>
                                    </span>
                                    <% } %>
                                        <input class="name_phone form-control" type="text" name="clientname"
                                            placeholder="Имя" required>
                                        <input class="name_phone form-control" type="text" id="phone"
                                            name="phone_number" placeholder="Номер телефона" required>
                                        <label for="box_size" class="text-white fs-5">Выберите предпочитаемый
                                            размер</label>
                                        <div>
                                            <select name="box_size" id="box_size">
                                                <option disabled>Выберите предпочитаемый размер</option>
                                                <option selected value="5 м&#178">5 м&#178</option>
                                                <option value="7 м&#178">7 м&#178</option>
                                                <option value="10 м&#178">10 м&#178</option>
                                                <option value="20 м&#178">20 м&#178</option>
                                                <option value="Более">Более</option>
                                            </select>
                                        </div>
                                        <div class="text-white fs-5" style="padding: 10px;"><input type="checkbox"
                                                name="privacy" required> Я
                                            согласен на обработку
                                            персональных данных</div>
                                        <div class="row justify-content-center">
                                            <button class="arena-oform" type="submit">Оформить заявку</button>
                                        </div>
                        </form>
                    </div>
                </div>
            </section>
        </main>
        <%- include('components/footer.ejs') %>

            <%- include('scripts/menu.ejs') %>
                <%- include('scripts/phone_mask.ejs') %>

</body>


</html>